{% extends "layout.html" %}

{% block title %}
    login
{% endblock title %}


{% block icon %}
    {{ url_for('static', filename = 'icons/luggage_icon.ico') }}
{% endblock icon %}


{% block header %}
    <div class="login_register_header">
        <h1 class="header_title">Welcome to Freedom Luxury Vacations<span style="font-size: small;">©</span></h1>
    </div>
{% endblock header %}


{% block content %}
<form method="post" class="register_login_form my_background_box form_box">
    <label>email</label>
    <input type="email" name="email" value="{{ credentials.email }}" minlength="5" maxlength="60" >
    <label>password</label>
    <input type="password" name="password" minlength="4" maxlength="20" required>
    <br>
    <button class="form_button" id="login" >login</button>

    <div class="form_small_link">
        Not a member?&nbsp
        <a href="{{ url_for('users_view.register') }}">Register</a>
    </div>
</form>
{% endblock content %}